main{
    margin-top: -6rem;
}

.context{
    background: var(--card-white);
    border-radius: 5px;

    display: flex;
    align-items: center;
    justify-content: center;

    max-width: 720px;
    margin: 0 auto;

    padding-bottom: 8rem;
}

form img{
    display: block;
    margin:  32px auto;

    border-radius: 50%;
    width: 200px;
    height: 200px;
}

form input{
    margin: 0.8rem 0;
}

.button{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;

    margin-top: 20px;
}

.create{
    background: transparent;
    color: #12a454;
    border: solid 2px #12a454;

    transition: all 500ms linear;
}

.create:hover{
    color: white;
    border: none;
}